@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Raleway:wght@500&family=Readex+Pro:wght@200&family=Reem+Kufi:wght@600&family=Source+Serif+4:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Open+Sans:wght@700&family=Raleway:wght@500&family=Readex+Pro:wght@200&family=Reem+Kufi:wght@600&family=Source+Serif+4:wght@200;400&display=swap');
.login-card{
/* border: solid 1px black; */
box-shadow: 0px 0px 10px 0px rgb(81, 102, 102);
border-radius: 5px 5px 5px 5px;
 
}
.admin-page{
    background: #fff;
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
}


.login-text1{
    font-size: 30px;
    font-weight: 470;
    font-family: 'Raleway', sans-serif;
    
}
.pdf{
    display: inline-flex;
    display: flex;
    justify-content: center;
 
}
.pdf-img{
    height:100%;
    width: 50%;
 

 
}

.login-text2{
    font-size: 20px;
    font-weight: 570;
    text-transform: uppercase;
    font-family: 'Source Serif 4', sans-serif;
    
}
input{
    display: inline-block;
}
 
.link-admin{
    text-decoration: none;
    display: flex;
    color: red;
 
}
 
 